.creditsContainer {
  /* background-color: brown; */
  width: 100%;
}
.creditsContainer h2 {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 20px 0 10px 1px;
  border-bottom: 2px solid #eb1c24;
}
.creditsContainer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 2px;
  gap: 12px;
}
.creditsContainer ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  flex-basis: 32.7%;
  background-color: rgba(134, 134, 134, 0.2);
  border-radius: 5px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.5);
  box-shadow: 0px 0px 5px rgba(216, 216, 216, 0.4);
}
.creditsContainer ul li img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px 0 10px;
}
@media only screen and (max-width: 1320px) {
  .creditsContainer ul li {
    flex-basis: 32%;
  }
}
@media only screen and (max-width: 630px) {
  .creditsContainer h2 {
    font-size: 25px;
  }
  .creditsContainer ul li {
    flex-basis: 48%;
    font-size: 14px;
    padding: 7px 0;
  }
  .creditsContainer ul li img {
    height: 35px;
    width: 35px;
    margin: 0 8px;
  }
}
@media only screen and (max-width: 400px) {
  .creditsContainer h2 {
    font-size: 20px;
  }
  .creditsContainer ul li {
    flex-basis: 95%;
    font-size: 14px;
  }
}
