.wrapper {
  width: 80%;
  margin: 0 auto;
  cursor: grab;
}
.sliderContainer {
  max-width: 78%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 8px;
  background: rgba(50, 50, 50, 1);
}
.sliderComponent {
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 0px 15px rgba(238, 238, 238, 0.15);
  border-radius: 8px;
  margin-top: 0.8rem;
}
.sliderContainer > h2 {
  margin: 15px 0 8px 0;
  letter-spacing: 1px;
}
.customDots button::before {
  color: #fff !important;
  margin-top: 10px;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

@media only screen and (max-width: 1450px) {
  .sliderContainer {
    max-width: 90%;
  }
}
@media only screen and (max-width: 1240px) {
  .wrapper {
    width: 80%;
  }
  .sliderContainer {
    max-width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .wrapper {
    width: 90%;
  }
  .sliderContainer > h2 {
    margin: 8px 0 8px 0;
    font-size: 22px;
  }
  .customDots li {
    width: 10px !important;
    height: 10px !important;
  }
}
@media only screen and (max-width: 630px) {
  .wrapper {
    width: 95%;
  }
}
/* @media only screen and (max-width: 550px) {
  .sliderContainer {
    max-width: 99%;
  }
} */
@media only screen and (max-width: 320px) {
  .sliderContainer > h2 {
    font-size: 20px;
  }
  .customDots li {
    width: 5px !important;
    height: 5px !important;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper {
    max-width: 98%;
  }
}
